<h2>Lista de Tareas</h2>

<div> 
  <label>
    <input type="checkbox" name="estado" value="todas" [(ngModel)]="filtroTodos"> Todas
  </label>
  <label>
    <input type="checkbox" name="estado" value="completadas" [(ngModel)]="filtroCompletadas"> Completadas
  </label>
  <label>
    <input type="checkbox" name="estado" value="pendientes" [(ngModel)]="filtroPendiente"> Pendientes
  </label>  
</div>

<!-- <label>
  <input type="checkbox" (ngModel)="filtroCompletadas" (change)="toggleFiltro()" />
  Mostrar Completadas
</label> -->

<table>
  <thead>
    <tr>
      <th>Nombre de la Tarea</th>
      <th>Fecha Límite</th>
      <th>Completada</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let tarea of filtrarTareas()">
      <td>{{ tarea.nombreTareas }}</td>
      <td>{{ tarea.fechaLimite | date: 'dd-MM-yyyy' }}</td>
      <td>
        <input type="checkbox" [(ngModel)]="tarea.completada" (change)="toggleEstado(tarea)" />
        {{ tarea.completada ? 'Sí' : 'No' }}
      </td>
      <td>        
        <button (click)="eliminarTarea(tarea.id)">Eliminar</button>       
        <button (click)="editarTarea(tarea.id)">Editar</button>
      </td>
    </tr>
  </tbody>
</table>